html/app/code/community/Sellbrite/Api/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"
                    schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
            <complexType name="sellbriteProductListEntity">
                <all>
                    <element name="product_id" type="xsd:string" minOccurs="0"/>
                    <element name="sku" type="xsd:string" minOccurs="0"/>
                    <element name="set" type="xsd:string" minOccurs="0"/>
                    <element name="type" type="xsd:string" minOccurs="0"/>
                    <element name="categories" type="typens:ArrayOfString" minOccurs="0"/>
                    <element name="websites" type="typens:ArrayOfString" minOccurs="0"/>
                    <element name="created_at" type="xsd:string" minOccurs="0"/>
                    <element name="updated_at" type="xsd:string" minOccurs="0"/>
                    <element name="type_id" type="xsd:string" minOccurs="0"/>
                    <element name="name" type="xsd:string" minOccurs="0"/>
                    <element name="description" type="xsd:string" minOccurs="0"/>
                    <element name="short_description" type="xsd:string" minOccurs="0"/>
                    <element name="weight" type="xsd:string" minOccurs="0"/>
                    <element name="status" type="xsd:string" minOccurs="0"/>
                    <element name="url_key" type="xsd:string" minOccurs="0"/>
                    <element name="url_path" type="xsd:string" minOccurs="0"/>
                    <element name="visibility" type="xsd:string" minOccurs="0"/>
                    <element name="category_ids" type="typens:ArrayOfString" minOccurs="0"/>
                    <element name="website_ids" type="typens:ArrayOfString" minOccurs="0"/>
                    <element name="has_options" type="xsd:string" minOccurs="0"/>
                    <element name="gift_message_available" type="xsd:string" minOccurs="0"/>
                    <element name="price" type="xsd:string" minOccurs="0"/>
                    <element name="special_price" type="xsd:string" minOccurs="0"/>
                    <element name="special_from_date" type="xsd:string" minOccurs="0"/>
                    <element name="special_to_date" type="xsd:string" minOccurs="0"/>
                    <element name="tax_class_id" type="xsd:string" minOccurs="0"/>
                    <element name="tier_price" type="typens:catalogProductTierPriceEntityArray" minOccurs="0"/>
                    <element name="meta_title" type="xsd:string" minOccurs="0"/>
                    <element name="meta_keyword" type="xsd:string" minOccurs="0"/>
                    <element name="meta_description" type="xsd:string" minOccurs="0"/>
                    <element name="custom_design" type="xsd:string" minOccurs="0"/>
                    <element name="custom_layout_update" type="xsd:string" minOccurs="0"/>
                    <element name="options_container" type="xsd:string" minOccurs="0"/>
                    <element name="image_url" type="xsd:string" minOccurs="0"/>
                    <element name="qty" type="xsd:string" minOccurs="0"/>
                    <element name="additional_attributes" type="typens:associativeArray" minOccurs="0"/>

                    <element name="sb_configurable_parent_product_ids" type="typens:ArrayOfString" minOccurs="0"/>
                    <element name="sb_configurable_child_product_ids" type="typens:ArrayOfString" minOccurs="0"/>
                    <element name="sb_configurable_products_data" type="typens:childrenEntityArray" minOccurs="0"/>
                    <element name="sb_configurable_attributes_data" type="typens:configurableOptionsEntityArray"
                             minOccurs="0"/>

                    <element name="sb_grouped_child_product_ids" type="typens:ArrayOfString" minOccurs="0"/>

                    <element name="stock_data" type="typens:catalogInventoryStockItemEntityArray" minOccurs="0"/>
                    <element name="images" type="typens:catalogProductImageEntityArray" minOccurs="0"/>
                </all>
            </complexType>

            <complexType name="childrenEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:childrenEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="childrenEntity">
                <all>
                    <element name="product_id" type="xsd:string" minOccurs="0"/>
                    <element name="sku" type="xsd:string" minOccurs="0"/>
                    <element name="options" type="typens:optionsEntityArray" minOccurs="0"/>
                </all>
            </complexType>
            <complexType name="configurableOptionsEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:configurableOptionsEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="configurableOptionsEntity">
                <all>
                    <element name="code" type="xsd:string" minOccurs="0"/>
                    <element name="options" type="typens:optionsEntityArray" minOccurs="0"/>
                </all>
            </complexType>
            <complexType name="optionsEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:optionsEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="optionsEntity">
                <all>
                    <element name="product_super_attribute_id" type="xsd:string" minOccurs="0"/>
                    <element name="value_index" type="xsd:string" minOccurs="0"/>
                    <element name="value_text" type="xsd:string" minOccurs="0"/>
                    <element name="label" type="xsd:string" minOccurs="0"/>
                    <element name="default_label" type="xsd:string" minOccurs="0"/>
                    <element name="store_label" type="xsd:string" minOccurs="0"/>
                    <element name="is_percent" type="xsd:int" minOccurs="0"/>
                    <element name="pricing_value" type="xsd:double" minOccurs="0"/>
                    <element name="use_default_value" type="xsd:boolean" minOccurs="0"/>
                    <element name="attribute_code" type="xsd:string" minOccurs="0"/>
                </all>
            </complexType>
            <complexType name="sellbriteProductListEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType"
                                   wsdl:arrayType="typens:sellbriteProductListEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
        </schema>
    </types>

    <message name="sellbriteProductListRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="filters" type="typens:filters"/>
    </message>
    <message name="sellbriteProductListResponse">
        <part name="result" type="typens:sellbriteProductListEntityArray"/>
    </message>

    <portType name="{{var wsdl.handler}}PortType">
        <operation name="sellbriteProductList">
            <documentation>Retrieve products list by filters</documentation>
            <input message="typens:sellbriteProductListRequest"/>
            <output message="typens:sellbriteProductListResponse"/>
        </operation>
    </portType>

    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="sellbriteProductList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>

    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}"/>
        </port>
    </service>
</definitions>
